# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [49]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [50]:
city_data = pd.read_csv('../WeatherPy/output_data/cities.csv')
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,katsuura,35.1333,140.3000,298.84,88,98,6.84,JP,1624158960
1,1,rikitea,-23.1203,-134.9692,297.23,75,2,7.90,PF,1624158961
2,2,yar-sale,66.8333,70.8333,285.21,54,94,5.68,RU,1624158961
3,3,puerto ayora,-0.7393,-90.3518,296.23,90,87,2.68,EC,1624158962
4,4,awjilah,29.1081,21.2869,295.03,50,0,3.71,LY,1624158962

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [51]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
coord = city_data[['Lat','Lng']]
humid = city_data['Humidity']
heat_layer = gmaps.heatmap_layer(coord, weights = humid, dissipating = False, max_intensity = 100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [52]:
#Define weather conditions for the reduced dataframe

#Humidity less than 30%

#Wind Speed less than 10 mph

#Cloudiness lower than 50 percent

In [63]:
vacation_city = city_data.loc[(city_data['Humidity'] < 30) &
                              (city_data['Wind Speed'] < 10) & 
                              (city_data['Cloudiness'] < 30)]
vacation_city = vacation_city.reset_index(drop = True)
vacation_city

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,45,saskylakh,71.9167,114.0833,303.29,21,20,7.03,RU,1624158983
1,84,chokurdakh,70.6333,147.9167,293.65,29,27,5.39,RU,1624159007
2,86,zabol,32.2500,67.2500,296.59,12,0,6.23,AF,1624159008
3,87,ojinaga,29.5667,-104.4167,308.68,15,1,3.60,MX,1624159008
4,94,komsomolskiy,40.4272,71.7189,299.83,25,4,2.06,UZ,1624159012
5,109,buraydah,26.3260,43.9750,297.40,12,0,0.40,SA,1624158999
6,113,riyadh,24.6877,46.7219,301.18,11,0,1.54,SA,1624159021
7,168,ignacio zaragoza,28.3833,-107.2167,294.48,20,22,4.37,MX,1624159049
8,169,birjand,32.8663,59.2211,298.41,16,0,2.06,IR,1624159050
9,211,dehloran,32.6941,47.2679,305.56,12,0,0.64,IR,1624159074
10,233,nushki,29.5542,66.0215,304.47,8,0,3.68,PK,1624159086
11,234,caborca,30.5838,-111.1010,307.31,20,3,9.69,MX,1624159086
12,244,emmett,43.8735,-116.4993,306.09,23,0,0.89,US,1624159091
13,280,khatanga,71.9667,102.5000,301.05,29,4,6.80,RU,1624159109
14,310,esna,25.2934,32.5540,299.33,23,0,4.25,EG,1624159123
15,322,saint george,37.1041,-113.5841,312.48,11,1,3.60,US,1624158989
16,334,aswan,24.0934,32.9070,299.31,22,0,3.93,EG,1624159112
17,335,korla,41.7597,86.1469,300.33,21,0,1.49,CN,1624159135
18,355,arlit,18.7369,7.3853,304.57,11,9,3.59,NE,1624159144
19,371,baghdad,33.3406,44.4009,299.10,29,0,4.63,IQ,1624159153
20,384,chifeng,42.2683,118.9636,299.25,26,10,8.47,CN,1624159008
21,393,changli,39.7042,119.1506,304.79,23,5,3.40,CN,1624159165
22,402,mujiayingzi,42.1167,118.7833,298.74,26,11,8.21,CN,1624159169
23,455,shahreza,32.0339,51.8794,295.61,12,0,1.24,IR,1624159195
24,481,tessalit,20.1986,1.0114,304.39,8,0,4.26,ML,1624159208
25,504,chengde,40.9725,117.9361,300.88,28,1,5.38,CN,1624158656

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [75]:
hotel_df = vacation_city
hotel_df['Hotel Name'] = ""
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,45,saskylakh,71.9167,114.0833,303.29,21,20,7.03,RU,1624158983,
1,84,chokurdakh,70.6333,147.9167,293.65,29,27,5.39,RU,1624159007,
2,86,zabol,32.2500,67.2500,296.59,12,0,6.23,AF,1624159008,
3,87,ojinaga,29.5667,-104.4167,308.68,15,1,3.60,MX,1624159008,
4,94,komsomolskiy,40.4272,71.7189,299.83,25,4,2.06,UZ,1624159012,

'71.9167,114.0833'

In [76]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"radius": 5000,
           "type": "lodging",
           "key": g_key,
}

for index, row in hotel_df.iterrows():
    
    #get location from df
    params["location"] = f"{hotel_df['Lat'][index]},{hotel_df['Lng'][index]}"

    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"The first hotel within 5000m of {row['City']} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except:
        print(f"No hotel found in 5000 metres for {row['City']}")
        
    print("--------------------------------------------")

No hotel found in 5000 metres for saskylakh
--------------------------------------------
No hotel found in 5000 metres for chokurdakh
--------------------------------------------
No hotel found in 5000 metres for zabol
--------------------------------------------
The first hotel within 5000m of ojinaga is Suites Las Palmas.
--------------------------------------------
The first hotel within 5000m of komsomolskiy is Ikathouse.
--------------------------------------------
The first hotel within 5000m of buraydah is فندق راحة السلام.
--------------------------------------------
The first hotel within 5000m of riyadh is InterContinental Riyadh, an IHG Hotel.
--------------------------------------------
No hotel found in 5000 metres for ignacio zaragoza
--------------------------------------------
The first hotel within 5000m of birjand is Birjand Tourist Hotel.
--------------------------------------------
The first hotel within 5000m of dehloran is کافه گیم استورم.
--------------------------------------------
The first hotel within 5000m of nushki is Shams hotel.
--------------------------------------------
The first hotel within 5000m of caborca is Hotel Los Lagos.
--------------------------------------------
The first hotel within 5000m of emmett is Holiday Motel & R.V Park.
--------------------------------------------
The first hotel within 5000m of khatanga is Gostinitsa "Zapolyar'ye".
--------------------------------------------
The first hotel within 5000m of esna is Orient Star Dahabyia Isna 05 Nights Each Sunday.
--------------------------------------------
The first hotel within 5000m of saint george is Best Western Plus Abbey Inn.
--------------------------------------------
The first hotel within 5000m of aswan is Nuba Nile.
--------------------------------------------
The first hotel within 5000m of korla is Gulisitan Hotel.
--------------------------------------------
The first hotel within 5000m of arlit is Case de Passage De la Prefecture.
--------------------------------------------
The first hotel within 5000m of baghdad is Baghdad Hotel.
--------------------------------------------
The first hotel within 5000m of chifeng is Junyu Tiancheng Hotel.
--------------------------------------------
The first hotel within 5000m of changli is 7Days Inn Qinhuangdao Changli Jieyang Street.
--------------------------------------------
The first hotel within 5000m of mujiayingzi is Jinjiang Hotel.
--------------------------------------------
The first hotel within 5000m of shahreza is خوابگاه.
--------------------------------------------
No hotel found in 5000 metres for tessalit
--------------------------------------------
The first hotel within 5000m of chengde is Super 8 Hotel.
--------------------------------------------

In [79]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [80]:
# Add marker layer ontop of heat map
marker_layer = gmaps.symbol_layer(locations, info_box_content = hotel_info, fill_color = 'red')
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))